{% extends 'base.html' %}

{% block content %}
    <main class="px-3">
        <h1>Owl mailing</h1>
        <p class="lead">Совиная рассылка - это отличный сервис рассылок!
            <br>Благодаря нашему сервису можно устанавливать время рассылки.
            <br>Всегда можно посмотреть, кто из ваших клиентов не получил письмо.<br>
        </p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-light fw-bold border-black bg-white">Узнать больше</a>
        </p>
    </main>

{% endblock %}